################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/addin/node_modules
/addin/dist
